#cont{
    background-color: #dcdcdc;
    height: 400px;
    display: flex;

    /*
    row|row-reverse|column|column-reverse
    */
    flex-direction: row;
    /*
    wrap|nowrap|wrap-reverse
    */
    flex-wrap: nowrap;
    /*
    flex-start|flex-end|center|space-between|space-around
    */
    justify-content: space-around;
    /*
    stretch|center|flex-start|flex-end|baseline(mesma linha de formatação)
    */
    align-items: baseline;
}
.item{
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
}