/*modelo de caixa
.cont{
    border: 1px solid red;
    padding: 20px;
    width: 150px;
    margin: 20px;
}
.cont2{
    margin: 20px;
    border: 1px solid red;
    width: 150px;
    padding: 20px;
}
*/
/*
noticia
*/
#noticia{
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid gray;
    width: 450px;
}
h2{
    margin: 0px;
}